.colorLAWL {
	background-color:#c5cef7;
}

.navigate {
	float:right;
	background-color: #ffdac1;
	height: 71.6146vw;
	width:11.198vw;
	margin:0.3646vw;
}

.navigatetitle {
	font-size: 2.083vw;
	font-family: 'Nanum Pen Script', cursive;
	text-align:center;
}

.desc {
	font-family: 'Nanum Pen Script', cursive;
	text-align: left;
	font-size:2.8646vw;
	margin-left:1.03125vw;
}

.divv{
	font-family: 'Nanum Pen Script',cursive;
	margin-left:2.0836vw;
	font-size:1.823vw;
}

.hr {
	color: #ffdac1;
}

li {
	font-size: 1.40625vw;
	font-family: 'Nanum Pen Script', cursive;
	text-align:left;
}

p {
	font-family: 'Nanum Pen Script',cursive;
	margin-left:2.0836vw;
	font-size:1.823vw;
}
	