.colorlawl {
	background-color:	#f6d4f9;
}

.wiewie {
	font-size: 2.87vw;
	text-align: center;
	font-family: 'Caveat Brush', cursive;
	color: #bc8fd0;
	letter-spacing: 0.104167vw;
	line-height: 1;
}

.ree {
	font-family: 'Sue Ellen Francisco', cursive;
	color: black;
	margin-left: 1.04167vw;
	letter-spacing: 0.104167vw;
	font-size:1.823vw;
}

.oop {
	text-align: center;
}

.navigate {
	float:right;
	background-color: #bc8fd0;
	height: 187.5vw;
	width:11.19791vw;
	margin:0.364583vw;
}

li {
	font-size: 1.405vw;
	font-family: 'Nanum Pen Script', cursive;
	text-align:left;
}

.navigatetitle {
	font-size: 2.083vw;
	font-family: 'Nanum Pen Script', cursive;
	text-align:center;
}

.boo {
float: center;
height: 31.25vw;
width:50vw;
}

.textt {
	border: 0.15625vw solid #f6d4f9; 
	width: 52.0833vw;
	height:46.875vw;
	text-align: center;
	font-family: 'Nanum Pen Script', cursive;
	margin-left:16.9271vw;
	margin-right:15.625vw;
	margin-top:1.04167vw;
	margin-bottom:1.04167vw;
	font-size: 1.3021vw;
}

.text{
	color: #c68fc8;
	font-size:1.3021vw;
	font-family: 'Nanum Pen Script', cursive;
	text-align: center;
	border: 0.15625vw solid #f6d4f9; 
	margin-left:2.604167vw;
	margin-right:15.625vw;
	margin-top:1.04167vw;
	margin-bottom:1.04167vw;
}

.centermoto {
	text-align: center;
}